.menu-wrapper{
    border-radius: 5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { box-shadow: 5px 5px 13px #b2bcca, -5px -5px 13px #ffffff; }
